/* ======================================INITIALIZATION SETTINGS BY JUADEB============================================= */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
li,
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  background-color: var(--body-color);
  color: var(--body-color);
}

body{
  /* cursor: pointer; */
  border: none;
  transition: .4s;/*for light-theme*/
}

/* A elements that don't have a class get default styles */
a{
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;

}
/* span{
  display: block;
} */

/* H element colors */
h1,h2,h3{
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: smooth;
  }

/* =============================Universal settings================================  */

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* GOOGLE FONTS SOURCE PRO IMPORT */

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,400&display=swap');

/* VARIABLE DECLARATION */
:root {
  --header-height: 3.5rem;
/* INIT */
--initial-hue: 250;
--sat: 66%;
--lig: 75%;
--final-hue: 219;
/* MAIN */
--first-color:hsl(var(--initial-hue), var(--sat), var(--lig)) ;
--first-color-alt:hsl(var(--initial-hue), var(--sat), 71%) ;
--title-color:hsl(var(--final-hue), 15%, 95%) ;
--text-color:hsl(var(--final-hue), 8%, 75%)  ;
--text-color-alt:hsl(var(--final-hue), 4%, 55%) ;
--body-color:hsl(var(--final-hue), 48%, 8%) ;
--container-color:hsl(var(--final-hue), 32%, 12%) ;

/* SPECIAL ANIMATION BUTTON VARIABLES */
--first-button-color: hsl(var(--initial-hue), var(--sat), var(--lig));
--second-button-color: #fff;
--third-button-color: #000;
/* FONT STYLE, WEIGHT AND SIZES */


/* FONT STYLE */
--body-font:'Nunito', sans-serif;
/* FONT SIZE */
--big-font-size: 1.75rem ;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1rem;
--normal-font-size:0.938rem ;
--small-font-size: 0.813rem;
--smaller-font-size: 0.75rem;
--tiny-font-size: 0.625rem;
/* FONT WEIGHT */
--font-medium:500;
--font-semibold:600;
/* Z-INDEX DISPLACEMENT */
--z-tooltip:10;
--z-fixed:100;
--z-modal:1000;
}
/* RESPONSIVENESS & MEDIA QUERIES */
@media screen and (min-width: 968px) {
  :root {
--big-font-size: 2.5rem ;
--h1-font-size: 2.25rem;
--h2-font-size: 1.5rem;
--h3-font-size: 1.25rem;
--normal-font-size:1rem ;
--small-font-size: 0.875rem;
--smaller-font-size: 0.813rem;
  }
}

/* REUSABLE & POPULAR CSS CLASSES */

.container{
  max-width: 1450px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* GRID ELEMENTS */
.grid{
  display: grid;
  gap: 1.2rem;
}
.main{
  overflow: hidden;
}
.section{
  padding: 4.5rem 0 1rem;
}
.section-title,
.section-subtitle{
  text-align: center;
}
.section-title{
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 2rem;
}
.section-subtitle{
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-alt);
  text-transform: uppercase;
}

/* ==========================================================================================================================*/

/* MAIN MARKUP STYLING STARTS BELOW */
/* HEADER & NAV */

.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: .4s; /*for light-theme*/
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo{
    display: flex;
    flex-wrap: nowrap;
    column-gap: .5rem;
}

.nav-logo:hover{
    transform: scale(1.1);
    transition: .4s ease-in-out;

}

.nav-logo-icon{
    height: 30px;
    width: 30px;
}

.nav-logo-tag{
    font-size: 20px;
}

.nav-menu{
  position: fixed;
  bottom: 2rem;
  right: 0rem;
  background-color: hsla(var(--final-hue), 32%, 16%, .8);
  width: 15%;
  border-radius: 4rem;
  padding: 0.5rem 0.5rem;
  backdrop-filter: blur(10px);
  transition: .4s;/*for light-theme*/
}

.nav-list{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-link{
  color: var(--text-color);
  font-size: 1.25rem;
  padding: .4rem;
  display: flex;
  border-radius: 5rem;
}


.home-social{
  position: sticky;
}

.home-social{
  top: 5rem;
  left: 0;
  margin-left: 50px;
  display: flex;
  justify-content: start;
  align-items: start;
  column-gap: 1rem;
}

.home-social-icon{
  color: black;

}

.home-social-link{
  width: max-content;
  background-color: var(--first-color);
  color: var(--first-color);
  box-shadow: 0 0 5px #dbe7e6;
  padding: .3rem;
  border-radius: .5rem;
  display: flex;
  font-size: 1.2rem;
  transition: .3s ease-in-out;

  /* moz-transition: all 2s ease-in-out;
  o-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
  webkit-transition: all 2s ease-in-out; */
}

.home-social-link:hover{
  background-color: var(--first-color);
  color: #fff;
  transform: scale(1.3);
}

.home-social.active {
    display: none;
}

/* SEARCH BOX */
.search-box {
  margin: 0 auto;
}

.search-box button {
  color: white;
  background-color: var(--first-color);
  text-align: center;
  text-transform: uppercase;
  padding: 5px 10px;
  margin: 10px;
  display: inline-block;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  border: 2px solid var(--container-color);
  width: 120px;
  margin-left: -3px;
  border-left: none;
}

.search-box button:hover {
  background: #0a0938;
  box-shadow: 2px 1px 5px #dbe7e6;
  transition: .4s ease-out;
}

.search-box input[type=text] {
  color: #333;
  background-color: white;
  text-align: center;
  text-transform: capitalize;
  padding: 5px 10px;
  margin: 10px;
  display: inline-block;
  -ms-transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  transform: skewX(-20deg);
  border: 2px solid #777;
  width: 350px;
  margin-right: 0px;
  border-right: none;
}

.bx-search-alt{
  text-align: center;
}

/* ********************************************* */

.active-link{
  background: linear-gradient(180deg,
              hsla(var(--initial-hue), var(--sat), var(--lig), 1),
              hsla(var(--initial-hue), var(--sat), var(--lig), .2));
  box-shadow: 0 0 16px hsla(var(--initial-hue), var(--sat), var(--lig), .3);
  color: var(--title-color);
}

/* HEAD BACK FIX */
.scroll-header{
  box-shadow: 0 4px 4px rgba(65, 64, 64, 0.3);
}

/* =================================ABOUT SECTION */

.grid-io {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  height: 90%;
}
.span-col-4{grid-column: span 4 / auto;}

.span-col-3{grid-column: span 3 / auto;}

.hero-img {
  width: 100%;
  height: 500px;
  object-fit: fill;
}

.essay{
  color: var(--first-color);
  /* letter-spacing: 0.2rem; */
  text-align: justify;
  line-height: 1.8rem;
  padding: 10px;
}

/* .essay-title-paragragh{
  color: var(--first-color);
  text-align: justify;
  line-height: 1.8rem;
  padding: 10px;
} */

.essay-topic {
  margin: 17px 7px auto;
  text-align: center;
  color: #fff;
}

.essay-topic-2 {
  color: #fff;
  font-size: 30px;
  text-transform: capitalize;
  text-align: center;
  margin-bottom: 15px;
  margin-top: 5px;
}

.essay-title{
  font-size: var(--h3-font-size);
  color: #0a0938;
  text-transform: uppercase;
  padding: 0px 50px;
  text-align: center;
  text-shadow: 0px 0px 0.1px #0a0938;
}

.essay-title-2{
  font-size: var(--h3-font-size);
  color: var(--first-color);
  text-transform: uppercase;
  padding: 0px 50px;
  text-align: center;
  text-shadow: 0px 0px 0.1px #0a0938;
}

#section-tit {
  margin: 0 10px;
  text-align: left;
  font-size: 20px;
  text-decoration: underline;
  text-decoration-thickness: .2rem;
}

.grid-io-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 5px;
}
.span-col-2{grid-column: span 2 / auto;}


/* TESTIMONIAL SECTION STYLING */
.testimonial-card{
    background-color: var(--container-color);
    padding: 1.25rem 1.5rem;
    border-radius: 1.5rem;
    margin-bottom: 3rem;
  }

  .testimonial-img{
    width: 100%;
    height: 350px;
    border-radius: 3rem;
    margin-bottom: 1rem;
  }

  .testimonial-name{
    font-size: var(--normal-font-size);
    font-weight: var(--font-medium);
    margin-bottom: .25rem;

  }

  .testimonial-info{
    font-size: var(--small-font-size);
    color: var(--first-color-alt);
  }

  /* PAGINATION BY SNIPER */
  .swiper-pagination-bullet{
    background-color: var(--text-color-alt);
  }

  .swiper-pagination-bullet-active{
    background-color: var(--first-color);
  }

/* FOOTER SECTION */
  .footer-container{
    padding: 2rem 0 6rem;
    background-color: var(--first-color);
    width: 100%;
  }

  .footer-title,
  .footer-link{
    color: var(--body-color);
  }

  .footer-link {
    font-size: var(--normal-font-size);
  }

  .footer-title{
    text-align: center;
    margin-bottom: 2rem;
  }

  .footer-list{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 1.5rem;
    margin-bottom: 2rem;
  }

  .footer-social{
    display: flex;
    justify-content: center;
    column-gap: 1.25rem;
  }

  .footer-social-link{
    background-color: var(--body-color);
    color: var(--first-color);
    padding: .25rem;
    border-radius: .25rem;
    font-size: 1.2rem;
    display: inline-flex;
  }

  .footer-social-link:hover{
    transform: scale(1.2);
    transition: .4s ease-in-out;
    background-color: #dbe7e6;
    color: #0a0938;
  }

  .footer-copy{
    display: block;
    margin-top: 4.5rem;
    color: var(--container-color);
    text-align: center;
    font-size: var(--smaller-font-size);
  }


  /* SCROLL BAR STYLING */
  ::-webkit-scrollbar{
    width: .6rem;
    border-radius: .5rem;
    background-color: hsl(var(--final-hue), 8%, 38%);
  }

  ::-webkit-scrollbar-thumb{
    background-color: hsl(var(--final-hue), 8%, 26%);
    border-radius: .5rem;
  }

  ::-webkit-scrollbar-thumb:hover{
    background-color: hsl(var(--final-hue), 8%, 21%);
  }

  /* THEME CHANGE */
  .change-theme{
    font-size: 1.25rem;
    cursor: pointer;
    color: var(--first-color);

  }
  .change-theme:hover{
    transform: scale(1.1);
    transition: ease-out;
    color: red;
    transition: .3s;
  }

  /* THEME CHANGE VARIABLE */
  body.light-theme{
    background-color: #edf1f1;
  --title-color:#0a0938 ;
  --text-color:#0a0938  ;
  --body-color:#dbe7e6 ;
  --container-color:#fff ;
  }

  /* COLOR VARIATIONS FOR LIGHT SCREEN */
  .light-theme .essay{
    color: hsl(241, 72%, 13%);
  }

  .light-theme .testimonial-info {
    color: #0a0938;
  }
  .light-theme .scroll-header{
    box-shadow: #0a0938;
  }.light-theme .nav-menu{
    background-color: hsla(var(--final-hue), 32%, 90%, .8);
  }

  .light-theme .section-subtitle{
    color: var(--text-color);
  }

  .light-theme .home-social-link{
    box-shadow: 0 2px 8px hsla(var(--final-hue), 48%, 8%, .1);
  }

  .light-theme .home-social::after{
    background-color: var(--title-color);
  }

  .light-theme .home-social-link{
    color: var(--title-color);
  }

  .light-theme .home-scroll{
    color: var(--title-color);
  }

  .light-theme .button
  .light-theme .button:hover
  .light-theme .active-work{
    color: var(--title-color);
  }

  .light-theme .footer-social-link{
    color: var(--title-color);
  }

  .light-theme .footer-social-link:hover{
    transform: scale(1.2);
    transition: .4s ease-in-out;
  }

  .light-theme .footer-title{
    color: var(--title-color);
  }

  .light-theme .footer-link {
    color: var(--title-color);
  }

  .light-theme .footer-copy{
    color: var(--title-color);
  }

  .light-theme .about-box{
    box-shadow: 0 2px 8px hsla(var(--final-hue), 48%, 8%, .1);
  }

  .light-theme .testimonial-card {
    box-shadow: 0 2px 8px hsla(var(--final-hue), 48%, 8%, .1);
  }

  .light-theme::-webkit-scrollbar{
    background-color: 0 2px 8px hsla(var(--final-hue), 8%, 66%);
  }

  .light-theme::-webkit-scrollbar-thumb{
    background-color: 0 2px 8px hsla(var(--final-hue), 8%, 54%);
  }

  .light-theme::-webkit-scrollbar-thumb:hover{
    background-color: #0a0938;
  }

/* MEDIA QUERIES AND SCREEN SIZE EDIT */

 @media screen and (min-width: 320px){

 }
 @media screen and (min-width: 481px){

 }
 @media screen and (min-width: 769px){
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .section{
    padding: 6.5rem 0 1rem;
  }

  .container{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
  }
 }
 /* @media screen and (min-width: 1025px){

 } */


