/* ===================================================INITIALIZATION SETTINGS BY JUADEB======================================================== */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}
/* SETTING HTML SCROLLING BEHAVIOR */
html:focus-within {
  scroll-behavior: smooth;
}
/* REMOVE DEFAULT MARGIN */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* REMOVE LIST BULLETPOINTS AND STYLING */

li,
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/*BODY TEXT STYLING AND TEXT_LINE HEIGHTS*/

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  text-shadow: 1px 1px 2px rgb(63, 62, 62);
  line-height: 1.5;
}

body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  background-color: #14213d;
  color: var(--body-color);
  border: none;
  transition: .4s;/*for light-theme*/
}

/* ANCHOR TAG TEXT_DECORATION */

a{
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* INITIALIZE IMAGE AND PICTURES */

img,
picture {
  max-width: 100%;
  height: auto;

}

/* HEADING ELEMENT STYLING */

h1,h2,h3{
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

/* CSS UTILITY CLASSES */

.container{
  max-width: 1450px;
  margin-left: .2rem;
  margin-right: .2rem;
}

/* GRID ELEMENTS */

.grid{
  display: grid;
  gap: 1.2rem;
}
.main{
  overflow: hidden;
}
.section{
  padding: 4.5rem 0 1rem;
  /* margin-bottom: 10px; */
}
.section-title,
.section-subtitle{
  text-align: center;
}
.section-title{
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 1rem;
}
.section-subtitle{
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-alt);
}

/* REMOVES ANIMATIONS AND SCROLLS FOR USER PREFERENCES */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
/* ANIMATION UNIVERSAL SETTINGS  */
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* .............................................................................GOOGLE FONTS */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

/* VARIABLE DECLARATION */
:root {
  --header-height: 3.5rem;

/* COLOR */
  /* INIT */
--initial-hue: 250;
--sat: 66%;
--lig: 75%;
--final-hue: 219;
/* MAIN */
--first-color:hsl(var(--initial-hue), var(--sat), var(--lig)) ;
--first-color-alt:hsl(var(--initial-hue), var(--sat), 71%) ;
--title-color:hsl(var(--final-hue), 15%, 95%) ;
--text-color:hsl(var(--final-hue), 8%, 75%)  ;
--text-color-alt:hsl(var(--final-hue), 4%, 55%) ;
--body-color:#14213d;
--container-color:hsl(var(--final-hue), 32%, 12%) ;

/* SPECIAL ANIMATION BUTTON VARIABLES */
--first-button-color: hsl(var(--initial-hue), var(--sat), var(--lig));
--second-button-color: #fff;
--third-button-color: #000;
/* FONT FAMILY */
--body-font:'Source Sans Pro', sans-serif;

/* FONT SIZE */
--big-font-size: 1.75rem ;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1rem;
--normal-font-size:0.938rem ;
--small-font-size: 0.813rem;
--smaller-font-size: 0.75rem;
--tiny-font-size: 0.625rem;

/* FONT WEIGHT */
--font-light:400;
--font-medium:500;
--font-semibold:600;
--font-bold:700;

/* Z-INDEX DISPLACEMENT */
--z-tooltip:10;
--z-fixed:100;
--z-modal:1000;
}


/* ========================================================MAIN MARKUP STYLING STARTS BELOW============================================= */


/* ................................................................HEADER & NAV........................................................ */
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  backdrop-filter: blur(100px);
  transition: .4s;/*for light-theme*/
}

.nav{
  margin: 0;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.nav-link{
  color: var(--text-color);
  font-size: 1rem;
  padding:  .3rem  1rem;
  border-radius: 5rem;
}


/* HOME ACTIVE LINK */
.active-link{
  /* background: linear-gradient(180deg,
              hsla(var(--initial-hue), var(--sat), var(--lig), 1),
              hsla(var(--initial-hue), var(--sat), var(--lig), .2)); */
  box-shadow: 0 0 16px hsla(var(--initial-hue), var(--sat), var(--lig), 1);
  color: var(--title-color);
  transition: .3s;
}
/* SCROLL BEYOND HOMEPAGE */
.scroll-header{
  box-shadow: 0 4px 4px rgba(80, 79, 79, 0.3);
}

/* .........................................................HOME SECTION STYLING............................................................ */

.home {
  background: url("/230622/img/home1.jpg");
  object-fit: cover;
  background-repeat: repeat-x;
  background-size: contain;
  background-position: center center;
  backdrop-filter: blur(px);
}

.home-container{
  position: relative;
  row-gap: 4.5rem;
  padding-top: 2rem;
}

.home-content{
  text-align: center;
}

.home-greetings,.home-education{
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.home-greetings{
  display: block;
  font-size: 1.5rem;
  text-shadow: 0 1px 10px black;
  color: var(--title-color);
  margin-bottom: 0.25rem;
}
.home-education{
  color: var(--text-color);
  text-shadow: 0 1px 10px black;
  font-size: 1.1rem;
  font-weight: var(--font-medium);
  margin-bottom: 2.5rem;
}

.home-name{
  font-size: var(--big-font-size);
  text-shadow: 0 1px 10px black;
  color: var(--first-color);
  margin-top: 0;
}

.home-handle{
  justify-self: center;
  background: linear-gradient(180deg,
              hsla(var(--initial-hue), var(--sat), var(--lig), 0),
              hsla(var(--initial-hue), var(--sat), var(--lig), 0)
              );
  border-radius: 10rem 10rem 1rem 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.home-buttons{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  color: #000;
}

.home-social,
.home-scroll{
  position: absolute;
}

.home-social{
  bottom: 5rem;
  left: 0;
  display: grid;
  row-gap: .5rem;
}

.home-social-link{
  width: max-content;
  background-color: var(--container-color);
  color: var(--first-color);
  padding: .3rem;
  border-radius: .5rem;
  display: flex;
  font-size: 1rem;
  transition: .4s;
}

.home-social-link:hover{
  background-color: var(--first-color);
  color: #fff;
  transform: scale(1.1);
  transition: .3s ease-in-out;
}

.home-social::after{
  content: '';
  width: 32px;
  height: 2px;
  background-color: var(--container-color);
  transform: rotate(90deg) translate(16px, 3px);
}

.home-scroll{
  color: black;
  right: -5rem;
  bottom: 10rem;
  display: grid;
  row-gap: 4rem;
  justify-items: center;
  /* padding: 02rem; */
  }

.home-scroll-name{
  font-size: 1.1rem;
  transform: rotate(-90deg);
}

.home-scroll-name:hover{
background: var(--container-color);
color: var(--first-color);
text-shadow: 0px 0px var(--first-color);
padding: 10px 15px;
border-radius: 10px;
}

/* ..........................................................UNIVERSAL BUTTONS STYLE..... */
.button{
  font-size: 1rem;
  display: inline-block;
  background-color: var(--first-color);
  color: black;
  padding: .75rem 1rem;
  border-radius: .5rem;
  box-shadow: 0px 0px 2px black;
}

.button:hover{
  background-color: var(--first-color-alt);
  color: black; 
  font-weight: 700;
  transition: .2s ease-in;
  transform: scale(1.1);
}

/* .button-transparent{
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color);
}
.button-transparent:hover{
  width: 20%;
  background-color: linear-gradient(var(--container-color), ) ;
  color: #fff;
  text-transform: uppercase;
  transition: .5s ease-in-out;
} */
/* .............................................................ABOUT SECTION STYLING........................................................... */
.about {
  background: linear-gradient(#14213d, var(--container-color));
}
.about-container{
  row-gap: 2.5rem;
}

.about-image{
  width: 220px;
  height: 400px;
  border-radius: 1.5rem;
  justify-self: center;
}

.about-content{
  text-align: center;
  color: var(--first-color);
}

.about-info{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: .5rem;
  margin-bottom: 2rem;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
  margin-bottom: 2rem; */
}

.about-box{
  background-color: var(--container-color);
  border-radius: .75rem;
  padding: .75rem .5rem;
}

.about-icon{
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: .5rem;
}

.about-title{
  font-size: var(--small-font-size);
}

.about-subtitle{
  font-size: var(--tiny-font-size);
}

.about-info{
  margin-bottom: 2rem;
}

.a-button{
  border: 0;
  outline: none;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  padding: .875rem 1.5rem;
  margin: 10px 25px auto;
  color: var(--third-button-color);
  background-color: var(--first-button-color);
  cursor: pointer;
  transition: transform .3s;
}

.a-button:hover{
  color: var(--first-button-color);
  background-color: var(--container-color);
  transition: .5s ease-in;
}

/* ..............................................................SKILLS SECTION MARKUP.......................................................... */

.skills-container{
  row-gap: 2rem;
  padding-top: 1rem;
}

.skills-content{
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 1.25rem;
}

.skills-title{
  font-size: var(--normal-font-size);
  font-weight: 900;
  color: var(--first-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills-box{
  /* display: flex;
  justify-content: center;
  column-gap: 2.5rem; */
  
}

.skills-box-a{
  text-align: center;
  
}

.skills-grouping{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 1.5rem;
}

.skills-data-a{
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.skill-tool{
  height: 40px;
  margin-left: 1rem;
}
.skill-toolc{
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  height: 70px;
  margin-bottom: 1rem;
}

.skills .bx-check-shield{
  font-size: 1rem;
  display: none;
  margin-right: 10px;
  margin-left: auto;
  color: var(--first-color);
}

.skills-name{
  font: 100px;
  font-weight: var(--font-medium);
  line-height: 18px;
  /* border-radius: 12rem; */
}

.skills-level{
  font-size: 13px;
  color: var(--first-color);
}

/* ...........................................................SERVICES STYLING................................................................. */

.services {
  background: url("/230622/img/spark.jpg");
  margin-top: 10px;
}
.services-container{
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding-top: 1rem;
  margin-top: 0;
  margin-bottom: 35px;
  display: flex;
}

.services-card{
  background-color: var(--container-color);
  padding: 3rem 1.5rem 1.5rem;
  border-radius: 1rem;
  height: 230px;
  width: 350px;
  text-align: center;
}

.services-title{
  font-size: var(--h2-font-size);
  margin-bottom: 2.5rem;
  text-shadow: 1px 3px 3px #14213d;
  border: none;
}

.services-button{
  color: #fff;
  font-size: var(--normal-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .25rem;
  cursor: pointer;
}

.services-button:hover {
  transform: translateX(.75rem);
  color: #fff;
}

.services-icon:hover {
  transform: translateX(.75rem);
  color: #fff;
}

.services-icon{
  font-size: 1.2rem;
  padding: .2rem;
  transition: .4s;
}

.services-button{
  font-size: 20px;
}

.services-title-b{
  font-size: var(--normal-font-size);
  color: var(--text-color-alt);
  margin-bottom: 1rem;
}

.services-button:hover{
  color: var(--first-color);
  font-weight: 900;
  box-shadow: none;
}

/* ...........................................................SERVICES SPECIAL MOD (hidden list)............................................... */

.services-mod{
  position: fixed;
  inset: 0;
  background-color: hsla(var(--final-hue), 28%, 16%, .7);
  padding: 2rem 0;
  display: grid;
  place-items: center;
  visibility: hidden;
  opacity: 0;
  /* Hide */
  transition: .4s ease-out;
  z-index: var(--z-modal);
}

.services-mod-content{
  position: relative;
  background-color: var(--container-color);
  padding: 4.5rem 1.5rem 2.5rem;
  border-radius: 2rem;
}

.services-mod-title, .services-mod-info{
  text-align: center;
  color: var(--first-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.services-mod-title{
  font-size: var(--h3-font-size);
  color: var(--first-color);
  margin-bottom: 1rem;
}

.services-mod-item{
  display: flex;
  column-gap: -100px;
} 

.services-mod-inf{
  font-size: var(--small-font-size);
  color: var(--first-color);
  margin-bottom: 2rem;
  margin-left: 0;
  margin-right: 0;

}
.services-mod-list{
  column-gap: 0;
} 

.services-mod-icon{
  margin-right: 0;
  padding: 0 0;
  font-size: 1.2rem;
  color: var(--first-color);
}

.services-mod-close{
  font-size: 2rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

/* SERVICES ACTIVE MOD */
.active-mod{
  opacity: 1;
  visibility: visible;
}

/* .................................................................WORK PAGE STYLING.......................................................... */

.work-container{
  max-width: 90%;
  max-height: 75%;
  border-bottom: 3px solid #000;
  border-top: 3px solid #000; 
  border-radius: 10px; 
}

.work-card{
  background-color: var(--container-color);
  padding: 3rem 1.5rem 1.5rem;
  margin-top: 25px;
  border-radius: 1rem;
  width: 10px;
}

.work-img{
  margin-right: auto;
  padding: 0;
}

.work-word{
 font-size: var(--big-font-size);
 text-transform: uppercase;
 font-weight: bolder  ;
}

.work-title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;
  display: inline;

}

.work-button{
  color: var(--first-color);
  font-size: var(--normal-font-size);
  
}

.work-button:hover .work-icon{
  transform: translateX(.25rem);
}

.work-icon{
  font-size: 1rem;
  transition: .4s;
}

/* WHEN WORK OPTIONS ARE CLICKED */
.active-work{
  background-color: var(--first-color);
  color: var(--body-color);
}

/* ..............................................TESTIMONIAL SECTION STYLING................................................................. */

.testimonial-card{
  background-color: var(--container-color);
  padding: 1.25rem 1.5rem;
  border-radius: 1.5rem;
  margin-bottom: 2rem;
}
.testimonial-img{
  width: 60px;
  height: 60px;
  border-radius: 3rem;
  margin-bottom: 1rem;
}

.testimonial-name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;

}
.testimonial-info{
  font-size: var(--small-font-size);
  color: var(--first-color);
  font-style: italic;
  margin-bottom: 0;
}

/* PAGINATION BY SNIPER */
.swiper-pagination-bullet{
  background-color: var(--text-color-alt);
}
.swiper-pagination-bullet-active{
  background-color: var(--first-color);
}


/* .....................................................CONTACT SECTION STYLE.................................................................. */

.contact-container{
  row-gap: 3rem;
  padding-bottom: 3rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 10rem;
}

.contact-content {
  border-right: 3px solid #000;
  border-left: 3px solid #000;
  border-radius: 10px;
}


.contact-button {
  color: var(--first-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-button-icon {
  font-size: var(--h3-font-size);
  top: 20px;
}

.contact-button:hover {
  color: #fff;
}

.contact-title{
  text-align: center;
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.contact-info{
  display: grid;
  gap: 1rem;
  padding:0 15px;
}

.contact-card{
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: .75rem;
  text-align: center;
}

.contact-card-icon{
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: .25rem;
}

.contact-card-title, .contact-card-inf{
  font-size: var(--small-font-size);
}

.contact-card-title{
  font-weight: var(--font-medium);

}

.contact-card-inf{
  display: block;
  margin-bottom: .75rem;
  color: #fff;
}

/* .....CONTACT FORM STYLING */
.contact-form {
  padding:0 15px;
}

.contact-form-container{
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}

.contact-form-entry{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 1px solid var(--text-color-alt);
  background: none;
  color: black;
  text-shadow: 0 0 2px gray;
  outline: none;
  border-radius: .75rem;
  z-index: 1;
}

.contact-form-area{
  height: 11rem;
}

.contact-form-area textarea{
  resize: none;
}


.contact-form-shadow{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:var(--first-color) ;
  border-radius: 1rem;
}

.contact-form-entry{
  position: absolute;
  border: 1px solid var(--third-button-color);
  background-color: var(--second-button-color);
  width: 100%;
  height: 100%;
  padding: 18px;
  transition: transform .3s;
}

.contact-form-entry::placeholder{
  transition: opacity .5s;
}

.contact-form-tag{
  position: absolute;
  z-index: 100;
  top: 16px;
  left: 20px;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semibold);
  transition: .2s;
  pointer-events: none;
  opacity: 0;
}

.contact-form-entry:focus::placeholder{
  opacity: 0;
  transition: .3s;
}

.contact-form-entry:focus{
  transform: translate(-8px, -8px);
  padding: 28px 18px 18px;
}

 /* .animate-button{
  background-color: white;
  width: 100%;
  border-radius: 5px;
} */

.contact-form-submit{
background: var(--first-color);
border: none;
box-shadow: 0 0 2px #000;
padding: 10px 15px;
border-radius: 10px;
}

.contact-form-submit:hover{
  transform: translateX(90px);
  transition: .5s ease-in;
}

.contact-img {
width: 100%;
}


/* ......................................................FOOTER STYLING.................................................................... */
.footer{
  background-color: var(--first-color);

}

.footer-container{
  padding: 2rem 0 6rem;
  max-width: 100%;
  background-color: var(--container-color);
}

.footer-title,
.footer-link{
  color: var(--text-color);
}

.footer-title{
  text-align: center;
  margin-bottom: 2rem;

}

.footer-list{
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
}

.footer-social{
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.footer-social-link{
  background-color: var(--body-color);
  color: var(--first-color);
  padding: .25rem;
  border-radius: .25rem;
  font-size: 1.5rem;
  display: inline-flex;
}

.footer-social-link:hover{
  transform: scale(1.4);
  background-color: var(--first-color);
  color: white;
  transition: .4s ease-in-out;
}

.footer-copy{
  display: block;
  margin-top: 4.5rem;
  color: var(--first-color);
  text-align: center;
  font-size: var(--smaller-font-size);
}

/* ...............................................SCROLL BAR STYLING...................................................................... */
::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(var(--final-hue), 8%, 38%);
}

::-webkit-scrollbar-thumb{
  background-color: hsl(var(--final-hue), 8%, 26%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(var(--final-hue), 8%, 21%);

}

/* ...........................................................THEME CHANGE.................................................................. */
.change-theme{
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--first-color);

}
.change-theme:hover{
  transform: scale(1.1);
  transition: ease-out;
  color: red;
  transition: .3s;
}

/* THEME CHANGE COLOR VARIABLES */
body.light-theme{
  background-color: #adb5bd;
--title-color:hsl(var(--final-hue), 15%, 15%) ;
--text-color:hsl(var(--final-hue), 8%, 35%)  ;
--body-color:#ced4da ;
--container-color:#dee2e6 ;
}

/* LIGHT SCREEN SPECIAL STYLING */

.light-theme .section-subtitle {
  text-shadow: 0 1px 1px #000;
}

.light-theme .section-title {
  text-shadow: 0 1px 1px #000;
}

.light-theme .scroll-header{
  box-shadow: 0 2px 4px hsla(0, 0%, 1%, .1);
}

.light-theme .nav-menu{
  background-color: hsla(var(--final-hue), 32%, 90%, .8);
}

.light-theme .about {
  background: #adb5bd;
}

.light-theme .about-subtitle {
  color: #212529;
  text-shadow: none;
  font-weight: 600;
}

.light-theme .about-description {
  color: #212529;
  text-shadow: none;
  font-weight: 500;
}

.light-theme .a-button {
  background-color: #737877;
}

.light-theme .a-button:hover {
  background-color: #14213d;
}

.light-theme .about-title {
  text-shadow: none;
  font-weight: 600;
}

.light-theme .about-icon {
  color: #212529;
  text-shadow: none;
}

.light-theme .services-title {
  color: #212529;
  text-shadow: none;
  font-weight: 600;
}

.light-theme .services-title-b {
  color: #212529;
  text-shadow: none;
  font-weight: 600;
}

.light-theme .services-button {
  color: #212529;
  text-shadow: none;
  font-weight: 600;
} 

.light-theme .services-button:hover {
  color: #14213d;
  text-shadow: 0 0 1px #2e2f2f;
  font-weight: 600;
} 

.light-theme .skills-level {
  color: #212529;
}

.light-theme .skills-title {
  color: #212529;
}

.light-theme .home-social-link{
  box-shadow: 0 2px 8px hsla(var(--final-hue), 48%, 8%, .1);
}

.light-theme .home-social::after{
  background-color: var(--title-color);
}

.light-theme .home-social-link{
  color: var(--title-color);
}

.light-theme .home-scroll{
  color: var(--title-color);
}

.light-theme .home-education {
  text-shadow: 0 1px 1px #000;
  color: #dee2e6;
}

.light-theme .home-greetings {
  color: #dee2e6;
  text-shadow: 0 1px 1px #000;
}

.light-theme .button
.light-theme .button:hover
.light-theme .active-work{
  color: var(--title-color);
}

.light-theme .footer-social-link{
  color: var(--title-color);
}

.light-theme .footer-social-link:hover{
  transform: scale(1.2);
  transition: .4s ease-in-out;
}

.light-theme .footer-title{
  color: var(--title-color);
}
.light-theme .footer-link
{
  color: var(--title-color);
}
.light-theme .footer-copy{
  color: var(--title-color);
}

.light-theme .about-box{
  box-shadow: 0 2px 8px hsla(var(--final-hue), 48%, 8%, .1);
}

.light-theme .work-container{
  border-bottom: 5px solid #2e2f2f;
  border-top: 5px solid #2e2f2f; 
}

.light-theme .skills-content
.light-theme .services-card
.light-theme .work-card
.light-theme .testimonial-card
.light-theme .contact-card
{
  box-shadow: 0 2px 8px hsla(var(--final-hue), 48%, 8%, .1);
}

.light-theme::-webkit-scrollbar{
  background-color: #737877;
}

.light-theme::-webkit-scrollbar-thumb{
  background-color: #2e2f2f;
}

.light-theme::-webkit-scrollbar-thumb:hover{
  background-color: rgb(32, 31, 31);
  cursor: pointer;
}

.light-theme .contact-card-title{
  color: var(--title-color);
}

.light-theme .contact-form-tag{
  color: var(--title-color);
}

.light-theme .contact-button{
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.light-theme .contact-form-shadow{
  background-color:var(--third-button-color) ;
}

.light-theme .animate-button{
  background-color: black;
}

.light-theme .contact-form-entry{
  background-color: white;
}

.light-theme .contact-title {
  color: #212529;
  text-shadow: 0 0 1px var(--first-color);
}

.light-theme .contact-card-title,
.light-theme .contact-card-icon,
.light-theme .contact-card-inf,
.light-theme .contact-button,
.light-theme.contact-button-icon,
.light-theme .footer-social-link,
.light-theme .footer-copy,
.light-theme .footer-social,
.light-theme .footer-link,
.light-theme .footer-title,
.light-theme .testimonial-info 
{
  color: #212529;
  text-shadow: 0 0 1px var(--first-color);
}



.light-theme .contact-content {
  border-right: 2px solid #212529;
  border-left: 2px solid #212529;
  border-radius: 10px;
}

/* ..................................................STYLING FOR DIFFERENT SCREEN SIZES...................................................... */
/* RESPONSIVENESS & MEDIA QUERIES */
@media screen and (min-width: 968px) {
  :root {
--big-font-size: 2.5rem ;
--h1-font-size: 2.25rem;
--h2-font-size: 1.5rem;
--h3-font-size: 1.25rem;
--normal-font-size:1rem ;
--small-font-size: 0.875rem;
--smaller-font-size: 0.813rem;
  }
}
/* **********************************************SMALL DEVICES***********************************************************************8 */
@media screen and (min-width: 280px){

  .nav-list{
    display: none;
  }

  .nav {
    margin-left: 10px;
    margin-right: 10px;
  }

  .nav-logo-icon{
    display: none;
  }

  .nav-logo-tag{
    font-size: 1rem;
  }

  .nav-menu{
    padding: 1rem 1.5rem;
  }
  .home {
    margin-top: 0;
    margin-bottom: 0;
  }

  .home-greetings {
    display: none;
  }

  .button {
    display: none;
  }

  .home-handle {
    /* display: none; */
    position: relative;
    bottom: 170px;
    right: 1px;
    width: 250px;
    margin-right: auto;
    margin-left: auto;
  }

  .home-scroll-name {
    display: none;
  }

  .home-social {
    bottom: 180px;
    left: 1px;
  }

  .home-social::after {
    display: none;
  }

  .home-name {
    font-size: 22px;
  }

  .home-education {
    font-size: 15px;
  }

  .about-info{
    grid-template-columns: repeat(2, 1fr);
  }

  .about-image {
    width: 300px;
    height: 300px;
  }

  .about-box {
    display: none;
  }

  .a-button {
    display: none;
  }

  .skills-box{
    column-gap: 1rem;
  }

  .skills-name{
    font-size: var(--small-font-size);
  }

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
}

.services-card {
  width: 270px;
  border-radius: 35px;
}

.services-mod {
  margin-right: 10px;
  margin-left: 10px;
}

.services-mod-icon {
  display: none;
}
 .contact{
    display: flex;
    justify-content: center;
    align-items: center;
  }
.testimonial {
  display: none;
}

.work {
  display: none;
}

.contact-container {
  display: flex;
  flex-direction: column;
}

.contact-title {
  font-size: 10px;
}

.contact-content {
  width: 260px;
}

.contact-form {
  width: 260px;
}

.footer-social-link {
  font-size: 18px;
}
}


/* ***********************************************MEDIUM DEVICES************************************************************************ */
@media screen and (min-width: 400px){
  .contact-content{
    display: block;
  }

  .nav-list{
    display: none;
  }

  .home-scroll-name {
    display: none;
  }

  .nav {
    margin-left: 10px;
    margin-right: 10px;
  }

  .nav-logo-tag {
    display: none;
  }

  .about-image {
    width: 400px;
    height: 400px;
  }

  .a-button {
    display: none;
  }

  .skill-tool {
    display: none;
  }

  .services-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .services-mod-content {
    margin-left: 10px;
    margin-right: 10px;
  }

  .contact-container {
    display: flex;
    flex-direction: column;
  }

  .contact-content {
    border: none;
  }

  .contact-form-submit {
    display: block;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (min-width: 481px){
  .nav-list{
    display: none;
  }
  .animate-button{
    background-color: var(--third-button-color);
    width: 42%;
 }

 .contact-form-submit:hover .contact-form-submit:active {
  transform: translate(-6px, -6px);
}

.nav-logo{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: .5rem;
}

.nav-logo-icon{
  height: 30px;
  width: 30px;
}
.nav-logo-tag{
  font-size: 1.2rem;
}
/* .work-img{
  width: 240px;
} */
  .nav-menu{
    width: 328px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .about-info{
    grid-template-columns: repeat(3, 140px);
    justify-content: center;
  }

  .about-info{
    padding: 0 5rem;
  }

  .skills-container{
    justify-content: center;
  }

  .skills-content{
    padding: 2rem 4rem;
  }

  .services-container{
    grid-template-columns: repeat(2, 160px);
  }

  .services-mod-content{
    width: 500px;
    padding: 4.5rem 2.5rem 2.5rem;
  }

  .services-mod-inf{
    padding: 0 3.5rem;
  }

  .work-container{
    justify-content: center;
  }

  .contact-info{
    grid-template-columns: 300px;
    justify-content: center;
  }

  .contact-form{
    width: 360px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 540px) {
  .contact-form {
    width: 260px;
  }

  .contact-card {
    width: 250px;
    margin-right:auto;
    margin-left: auto;
  }

  .contact-content {
    border-right: 3px solid #000;
    border-left: 3px solid #000;
    margin: auto 10px;
  }

  .services-card {
    width: 400px;
  }

  .skills-content {
    width: 400px;
  }

  .skill-tool{
    display: block;
    margin-right: auto;
    margin-left: auto;
  }

  .about-description {
    margin: auto 10px;
  }

  /* .home-scroll-name {
    display: block;
  } */

/* .nav-logo-icon {
  font-size: 10px;
}
.nav-logo-tag {
  color: #dee2e6;
} */
}



/* *************************************************LARGE DEVICES**************************************************************************** */
@media screen and (min-width: 1020px){

body {
    margin: 10px;
  }  
 
.skills {
  margin-top: 0px;
}

.section {
  margin-bottom: 0px;
}

.nav {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-list{
    position: fixed;
    top: 0;
    left: -60%;
    margin-top: 9px;
    margin-bottom: 2px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

.contact-container{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 3rem;
  }

.container{
    margin-left: auto;
    margin-right: auto;
  }

.section{
    padding: 6.5rem 0 1rem;
  }

.section-title{
    margin-bottom: 3.5rem;
  }
/* 
.nav{
    height: calc(var(--header-height));
  } */

.nav-logo{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    column-gap: .3rem;
  }

.nav-logo:hover{
    transform: scale(1.1);
    transition: .4s ease-out;
  }

.nav-logo-icon{
    height: 33px;
    width: 30px;
  }

.nav-logo-tag{
    font-size: 1.2rem;
  }

.home-handle{
    width: 290px;
    height: 400px;
  }

.home-img{
    width: 220px;
  }

.home-social-link{
    padding: .4rem;
    font-size: 1.25rem;
  }

.home-social::after{
    transform: rotate(90deg) translate(16px, 0);
  }

.home-scroll-icons{
    font-size: 2rem;
  }

.about-container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 2rem;
  }

.about-image{
    width: 350px;
  }

.about-content{
    text-align: left;
 }

.about-info{
    display: inline;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
 }

.about-box{
    text-align: left;
    padding: 1rem 1.25rem;
    display: flex;
    justify-content: start;
    align-items: center;
    margin-right: 70px; 
    margin-bottom: 20px;
    column-gap: 1rem;
  }

.about-description{
    padding: 0 4rem 0 0;
    margin-bottom: 2.5rem;
  }

.about-subtitle{
  font-size: .9rem;
}


.a-button{
  border: 0;
  border-radius: 5px;
  outline: none;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  /* justify-self: center; */
  padding: .875rem 1.5rem;
  color: var(--third-button-color);
  background-color: var(--first-button-color);
  cursor: pointer;
  transition: transform .3s;
}

.a-button:hover{
  color: var(--first-button-color);
  background-color: var(--container-color);
}

.skills-container{
    grid-template-columns: repeat(2, 350px);
    column-gap: 3rem;
  }

.work-container{
    gap: 3rem;
  }

  .work-title{
    margin-bottom: 1rem;
   }
   .testimonial-container{
    width: 1000px;
   }

   .testimonial-card{
    padding: 1.5rem 2rem ;
    height: 400px;
   }

.footer-social{
    font-size: 1.25rem;
    padding: .4rem;
    border-radius: .25rem;
   }
    
  .home-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
 
.section-subtitle{
    font-size: 1.2rem;
  }

  .about-info{
    column-gap: 2rem;
    margin-bottom: 1rem;
  }
  .section-title{
    margin-bottom: auto;
  }
 
}

