/* INITIALIZATION SETTINGS BY JUADEB */

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
li,
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}
body,
button,
input,
textarea {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
}

body{
  background-color: #264653;
  color: var(--body-color);
}

body{
  /* cursor: pointer; */
  border: none;
  transition: .4s;/*for light-theme*/
}

/* A elements that don't have a class get default styles */
a{
  text-decoration-skip-ink: auto;
  text-decoration: none;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  height: auto;

}
/* span{
  display: block;
} */

/* H element colors */
h1,h2,h3{
  color: var(--title-color);
  font-weight: var(--font-semibold);
}

/* REUSABLE & POPULAR CSS CLASSES */
.container{
  max-width: 1450px;
  margin-left: 1rem;
  margin-right: 1rem;
}

/* GRID ELEMENTS */
.grid{
  display: grid;
  gap: 1.2rem;
}
.main{
  overflow: hidden;
}
.section{
  padding: 4.5rem 0 1rem;
}
.section-title,
.section-subtitle{
  text-align: center;
}
.section-title{
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-bottom: 2rem;
}
.section-subtitle{
  display: block;
  font-size: var(--smaller-font-size);
  color: var(--text-color-alt);
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }

/* Universal settings  */

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


/* GOOGLE FONTS SOURCE PRO IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');

/* VARIABLE DECLARATION */
:root {
  --header-height: 3.5rem;

/* COLOR VARIABLE DECLARATION */
/* COLOR MODE HSL */
/* purple: hsl(250, 66%, 75%)
blue: hsl(207, 90%, 72%)
purple: hsl(356, 66%, 75%)
purple: hsl(174, 63%, 62%) */


/* INIT */
--initial-hue: 250;
--sat: 66%;
--lig: 75%;
--final-hue: 219;
/* MAIN */
--first-color:hsl(var(--initial-hue), var(--sat), var(--lig)) ;
--first-color-alt:hsl(var(--initial-hue), var(--sat), 71%) ;
--title-color:hsl(var(--final-hue), 15%, 95%) ;
--text-color:hsl(var(--final-hue), 8%, 75%)  ;
--text-color-alt:hsl(var(--final-hue), 4%, 55%) ;
--body-color:hsl(var(--final-hue), 48%, 8%) ;
--container-color:hsl(var(--final-hue), 32%, 12%) ;

/* SPECIAL ANIMATION BUTTON VARIABLES */
--first-button-color: hsl(var(--initial-hue), var(--sat), var(--lig));
--second-button-color: #fff;
--third-button-color: #000;
/* FONT STYLE, WEIGHT AND SIZES */


/* FONT STYLE */
--body-font:'Source Sans Pro', sans-serif;

/* FONT SIZE */
--big-font-size: 1.75rem ;
--h1-font-size: 1.5rem;
--h2-font-size: 1.25rem;
--h3-font-size: 1rem;
--normal-font-size:0.938rem ;
--small-font-size: 0.813rem;
--smaller-font-size: 0.75rem;
--tiny-font-size: 0.625rem;


/* FONT WEIGHT */
--font-medium:500;
--font-semibold:600;

/* Z-INDEX DISPLACEMENT */
--z-tooltip:10;
--z-fixed:100;
--z-modal:1000;
}

/* RESPONSIVENESS & MEDIA QUERIES */
@media screen and (min-width: 968px) {
  :root {
--big-font-size: 2.5rem ;
--h1-font-size: 2.25rem;
--h2-font-size: 1.5rem;
--h3-font-size: 1.25rem;
--normal-font-size:1rem ;
--small-font-size: 0.875rem;
--smaller-font-size: 0.813rem;
  }
}



/* MAIN MARKUP STYLING STARTS BELOW */
/* HEADER & NAV */
.header{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--body-color);
  z-index: var(--z-fixed);
  transition: .4s;/*for light-theme*/
}

.nav{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-logo{
  color: var(--first-color);
  font-weight: var(--font-medium);
  transition: .4s;
}

.nav-logo:hover{
  color: var(--first-color-alt);
}

.nav-menu{
  position: fixed;
  bottom: 1rem;
  background-color: hsla(var(--final-hue), 32%, 16%, .8);
  width: 90%;
  border-radius: 4rem;
  padding: 0.5rem 0.5rem;
  backdrop-filter: blur(10px);
  transition: .4s;/*for light-theme*/
}

.nav-list{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-link{
  color: var(--text-color);
  font-size: 1.25rem;
  padding: .4rem;
  display: flex;
  border-radius: 5rem;
}

/* HOME ACTIVE LINK */
.active-link{
  background: linear-gradient(180deg,
              hsla(var(--initial-hue), var(--sat), var(--lig), 1),
              hsla(var(--initial-hue), var(--sat), var(--lig), .2));
  box-shadow: 0 0 16px hsla(var(--initial-hue), var(--sat), var(--lig), .3);
  color: var(--title-color);
}

/* HEAD BACK FIX */
.scroll-header{
  box-shadow: 0 4px 4px rgba(80, 79, 79, 0.3);
}


/* HOME SECTION STYLING */

.home-container{
  position: relative;
  row-gap: 4.5rem;
  padding-top: 2rem;
}

.home-content{
  text-align: center;
}

.home-greetings,.home-education{
  font-size: var(--small-font-size);
  font-weight: var(--font-medium);
}

.home-greetings{
  display: block;
  color: var(--title-color);
  margin-bottom: 0.25rem;
}
.home-education{
  color: var(--text-color);
  margin-bottom: 2.5rem;
}

.home-name{
  font-size: var(--big-font-size);
}

.home-img{
  width: 160px;
}

.home-handle{
  justify-self: center;
  width: 190px;
  height: 250px;
  background: linear-gradient(180deg,
              hsla(var(--initial-hue), var(--sat), var(--lig), 0.1),
              hsla(var(--initial-hue), var(--sat), var(--lig), 0)
              );
  border-radius: 10rem 10rem 1rem 1rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  overflow: hidden;
}

.home-buttons{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.home-social,
.home-scroll{
  position: absolute;
}

.home-social{
  bottom: 5rem;
  left: 0;
  display: grid;
  row-gap: .5rem;
}

.home-social-link{
  width: max-content;
  background-color: var(--container-color);
  color: var(--first-color);
  padding: .3rem;
  border-radius: .5rem;
  display: flex;
  font-size: 1rem;
  transition: .4s;
}

.home-social-link:hover{
  background-color: var(--first-color);
  color: #fff;
  transform: scale(1.1);
}

.home-social::after{
  content: '';
  width: 32px;
  height: 2px;
  background-color: var(--first-color);
  transform: rotate(90deg) translate(16px, 3px);
}

.home-scroll{
  color: var(--first-color);
  right: -1.5rem;
  bottom: 4rem;
  display: grid;
  row-gap: 4rem;
  justify-items: center;
  /* padding: 02rem; */
  }

.home-scroll-icons{
  font-size: 1.25rem;
  
}

.home-scroll-name{
  font-size: var(--smaller-font-size);
  transform: rotate(-90deg);
}

.home-scroll-name:hover{
 transform: rotate(90deg), scale(1.2);
  color: gray;
}

/* BUTTONS STYLE */
.button{
  display: inline-block;
  background-color: var(--first-color);
  color: var(--body-color);
  padding: .75rem 1rem;
  border-radius: .5rem;
  box-shadow: 2px 3px hsl(357, 16%, 25%);
}
.button:hover{
  background-color: var(--first-color-alt);
  color: var(--body-color);
  transition: .2s ease-in;
  transform: scale(1.07);
}
.button-transparent{
  background-color: transparent;
  border: 2px solid var(--first-color);
  color: var(--first-color);
}

/* ABOUT SECTION STYLING */
.about-container{
  row-gap: 2.5rem;
}

.about-image{
  width: 220px;
  border-radius: 1.5rem;
  justify-self: center;
}

.about-content{
  text-align: center;
  color: var(--first-color);
}

.about-info{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  gap: .5rem;
  margin-bottom: 2rem;
  /* display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: .5rem;
  margin-bottom: 2rem; */
}

.about-box{
  background-color: var(--container-color);
  border-radius: .75rem;
  padding: .75rem .5rem;
}

.about-icon{
  font-size: 1.5rem;
  color: var(--first-color);
  margin-bottom: .5rem;
}

.about-title{
  font-size: var(--small-font-size);
}

.about-subtitle{
  font-size: var(--tiny-font-size);
}

.about-info{
  margin-bottom: 2rem;
}

/* SKILLS SECTION MARKUP */
.skills-container{
  row-gap: 2rem;
  padding-top: 1rem;
}

.skills-content{
  background-color: var(--container-color);
  padding: 1.5rem;
  border-radius: 1.25rem;
}

.skills-title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  color: var(--first-color);
  text-align: center;
  margin-bottom: 1.5rem;
}

.skills-box{
  display: flex;
  justify-content: center;
  column-gap: 2.5rem;
}

.skills-grouping{
  display: grid;
  align-content: flex-start;
  row-gap: 1rem;
}

.skills-data{
  display: flex;
  column-gap: .5rem;
}

.skills .bx-check-shield{
  font-size: 1rem;
  color: var(--first-color);
}

.skills-name{
  font: var(--normal-font-size);
  font-weight: var(--font-medium);
  line-height: 18px;
  /* border-radius: 12rem; */
}

.skills-level{
  font-size: var(--tiny-font-size);
  color: var(--first-color);
}

/* SERVICES STYLING */

.services-container{
  grid-template-columns: repeat(2, 1fr);
  gap: 1.5rem;
  padding-top: 1rem;
}

.services-card{
  background-color: var(--container-color);
  padding: 3rem 1.5rem 1.5rem;
  border-radius: 1rem;
}

.services-title{
  font-size: var(--h2-font-size);
  margin-bottom: 2.5rem;
}

.services-button{
  color: var(--first-color);
  font-size: var(--normal-font-size);
  display: flex;
  align-items: center;
  /* justify-content: center; */
  column-gap: .25rem;
  cursor: pointer;
}

.services-button:hover .services-icon{
  transform: translateX(.75rem);
}

.services-icon{
  font-size: 1.2rem;
  padding: .2rem;
  transition: .4s;
}


/* SERVICES MOD */
.services-mod{
  position: fixed;
  inset: 0;
  background-color: hsla(var(--final-hue), 28%, 16%, .7);
  padding: 2rem 1rem;
  display: grid;
  place-items: center;
  visibility: hidden;
  opacity: 0;
  /* Hide */

  transition: .4s;
  z-index: var(--z-modal);
}

.services-mod-content{
  position: relative;
  background-color: var(--body-color);
  padding: 4.5rem 1.5rem 2.5rem;
  border-radius: 2rem;
}
.services-mod-title, .services-mod-info{
  text-align: center;
  color: var(--first-color);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.services-mod-title{
  font-size: var(--h3-font-size);
  color: var(--first-color);
  margin-bottom: 1rem;
  /* justify-self: center; */
}

.services-mod-inf{
  font-size: var(--small-font-size);
  color: var(--first-color);
  margin-bottom: 2rem;

}
.services-mod-list{
  display: grid;
  row-gap: .75rem;
}

.services-mod-item{
  display: flex;
  align-items: flex-start;
  column-gap: .5rem;
}
.services-mod-icon{
  font-size: 1.2rem;
  color: var(--first-color);
}

.services-mod-info{
  font-size: var(--small-font-size);
  color: var(--first-color-alt);
}

.services-mod-close{
  font-size: 2rem;
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  color: var(--first-color);
  cursor: pointer;
}

/* WHEN MOD IS ACTIVE */
.active-mod{
  opacity: 1;
  visibility: visible;
}

/* WORK PAGE STYLING */

.work-container{
  padding: 1rem;
}


.work-card{
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.work-img{
  border-radius: 1rem;
  margin-bottom: .75rem;
}
.work-word{
  display: block;
  margin-left: 1rem;
}

.work-title{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;

}
.work-button{
  width: max-content;
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  column-gap: .25rem;
}

.work-button:hover .work-icon{
  transform: translateX(.25rem);
}

.work-icon{
  font-size: 1rem;
  transition: .4s;
}
/* WHEN WORK OPTIONS ARE CLICKED */
.active-work{
  background-color: var(--first-color);
  color: var(--body-color);
}

/* TESTIMONIAL SECTION STYLING */

.testimonial-card{
  background-color: var(--container-color);
  padding: 1.25rem 1.5rem;
  border-radius: 1.5rem;
  margin-bottom: 3rem;
}
.testimonial-img{
  width: 60px;
  border-radius: 3rem;
  margin-bottom: 1rem;
}

.testimonial-name{
  font-size: var(--normal-font-size);
  font-weight: var(--font-medium);
  margin-bottom: .25rem;

}
.testimonial-info{
  font-size: var(--small-font-size);
  color: var(--first-color);
}

/* PAGINATION BY SNIPER */
.swiper-pagination-bullet{
  background-color: var(--text-color-alt);
}
.swiper-pagination-bullet-active{
  background-color: var(--first-color);
}


/* CONTACT STYLE */

.contact-container{
  row-gap: 3rem;
  padding-bottom: 3rem;
}
.contact-title{
  text-align: center;
  font-size: var(--h3-font-size);
  margin-bottom: 1.5rem;
}

.contact-info{
  display: grid;
  gap: 1rem;
}

.contact-card{
  background-color: var(--container-color);
  padding: 1rem;
  border-radius: .75rem;
  text-align: center;
}

.contact-card-icon{
  font-size: 2rem;
  color: var(--title-color);
  margin-bottom: .25rem;
}

.contact-card-title, .contact-card-inf{
  font-size: var(--small-font-size);
}

.contact-card-title{
  font-weight: var(--font-medium);

}

.contact-card-inf{
  display: block;
  margin-bottom: .75rem;
  color: #fff;
}

/* CONTACT FORM STYLING */
.contact-form-container{
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}

.contact-form-entry{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-alt);
  background: none;
  color: var(--text-color);
  outline: none;
  border-radius: .75rem;
  z-index: 1;
}


.contact-form-area{
  height: 11rem;
}

.contact-form-area textarea{
  resize: none;
}



/* --first-button-color: hsl(var(--initial-hue), var(--sat), var(--lig));
--second-button-color: #fff;
--third-button-color: #000; */

.contact-form-shadow{
  position: absolute;
  width: 100%;
  height: 100%;
  background-color:var(--third-button-color) ;
  border-radius: 1rem;
}

.contact-form-entry{
  position: absolute;
  border: 2.5px solid var(--third-button-color);
  background-color: var(--second-button-color);
  width: 100%;
  height: 100%;
  padding: 18px;
  transition: transform .3s;
}

.contact-form-entry::placeholder{
  transition: opacity .5s;
}

.contact-form-tag{
  position: absolute;
  z-index: 100;
  top: 16px;
  left: 20px;
  font-size: var(--smaller-font-size);
  font-weight: var(--font-semibold);
  transition: .2s;
  pointer-events: none;
  opacity: 0;
}

 .animate-button{
  background-color: var(--third-button-color);
  width: 43%;


}

.contact-form-submit{
  border: 0;
  outline: none;
  font-size: var(--normal-font-size);
  font-family: var(--body-font);
  /* justify-self: center; */
}

.contact-form-submit{
  padding: .875rem 1.5rem;
  color: var(--third-button-color);
  background-color: var(--first-button-color);
  cursor: pointer;
  transition: transform .3s;
}

.contact-form-submit:hover{
  transform: translate(-6px, -6px);
}


.contact-form-entry:focus::placeholder{
  opacity: 0;
  transition: .3s;
}

.contact-form-entry:focus{
  transform: translate(-8px, -8px);
  padding: 28px 18px 18px;
}
/* .contact-button{
  color: var(--first-color);
  font-size: var(--small-font-size);
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: .25rem;
}

.contact-button:hover .contact-button-icon{
  transform: translateX(.25rem);
}

.contact-button-icon{
  font-size: 1rem;
  transition: .4s;
}

.contact-form-container{
  position: relative;
  margin-bottom: 2rem;
  height: 4rem;
}

.contact-form-entry{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 2px solid var(--text-color-alt);
  background: none;
  color: var(--text-color);
  outline: none;
  border-radius: .75rem;
  z-index: 1;
}

.contact-form-tag{
  position: absolute;
  top: -.75rem;
  left: 1.25rem;
  font-size: var(--small-font-size);
  padding: .25rem;
  background-color: var(--body-color);
  z-index: 10;
  color: #fff;
}

::placeholder {
  color: var(--first-color);
  font-size: 0.75rem;
  text-transform: capitalize;
 }

.contact-form-area{
  height: 11rem;
}

.contact-form-area textarea{
  resize: none;
} */

/* footer styling */
.footer{
  background-color: var(--first-color);

}

.footer-container{
  padding: 2rem 0 6rem;
  background-color: #22414e;
}

.footer-title,
.footer-link{
  color: var(--body-color);
}

.footer-title{
  text-align: center;
  margin-bottom: 2rem;

}

.footer-list{
  display: flex;
  justify-content: center;
  column-gap: 1.5rem;
  margin-bottom: 2rem;
}

.footer-social{
  display: flex;
  justify-content: center;
  column-gap: 1.25rem;
}

.footer-social-link{
  background-color: var(--body-color);
  color: var(--first-color);
  padding: .25rem;
  border-radius: .25rem;
  font-size: 1rem;
  display: inline-flex;
}

.footer-social-link:hover{
  transform: scale(1.2);
  transition: .4s ease-in-out;
}

.footer-copy{
  display: block;
  margin-top: 4.5rem;
  color: var(--container-color);
  text-align: center;
  font-size: var(--smaller-font-size);
}

/* SCROLL BAR STYLING */
::-webkit-scrollbar{
  width: .6rem;
  border-radius: .5rem;
  background-color: hsl(var(--final-hue), 8%, 38%);
}

::-webkit-scrollbar-thumb{
  background-color: hsl(var(--final-hue), 8%, 26%);
  border-radius: .5rem;
}

::-webkit-scrollbar-thumb:hover{
  background-color: hsl(var(--final-hue), 8%, 21%);

}

/* THEME CHANGE */
.change-theme{
  font-size: 1.25rem;
  cursor: pointer;
  color: var(--first-color);

}
.change-theme:hover{
  transform: scale(1.1);
  transition: ease-out;
  color: red;
  transition: .3s;
}

/* THEME CHANGE VARIABLE */
body.light-theme{
--title-color:hsl(var(--final-hue), 15%, 15%) ;
--text-color:hsl(var(--final-hue), 8%, 35%)  ;
--body-color:#EFF7F6 ;
--container-color:#fff ;
}

/* COLOR VARIATIONS FOR LIGHT SCREEN */

.light-theme .scroll-header{
  box-shadow: 0 2px 4px hsla(0, 0%, 1%, .1);
}.light-theme .nav-menu{
  background-color: hsla(var(--final-hue), 32%, 90%, .8);
}

.light-theme .section-subtitle{
  color: var(--text-color);
}

.light-theme .home-social-link{
  box-shadow: 0 2px 8px hsla(var(--final-hue), 48%, 8%, .1);
}

.light-theme .home-social::after{
  background-color: var(--title-color);
}

.light-theme .home-social-link{
  color: var(--title-color);
}

.light-theme .home-scroll{
  color: var(--title-color);
}

.light-theme .button
.light-theme .button:hover
.light-theme .active-work{
  color: var(--title-color);
}

.light-theme .footer-social-link{
  color: var(--title-color);
}

.light-theme .footer-social-link:hover{
  transform: scale(1.2);
  transition: .4s ease-in-out;
}

.light-theme .footer-title{
  color: var(--title-color);
}
.light-theme .footer-link
{
  color: var(--title-color);
}
.light-theme .footer-copy{
  color: var(--title-color);
}

.light-theme .about-box{
  box-shadow: 0 2px 8px hsla(var(--final-hue), 48%, 8%, .1);
}

.light-theme .skills-content
.light-theme .services-card
.light-theme .work-card
.light-theme .testimonial-card
.light-theme .contact-card
{
  box-shadow: 0 2px 8px hsla(var(--final-hue), 48%, 8%, .1);
}

.light-theme::-webkit-scrollbar{
  background-color: 0 2px 8px hsla(var(--final-hue), 8%, 66%);
}

.light-theme::-webkit-scrollbar-thumb{
  background-color: 0 2px 8px hsla(var(--final-hue), 8%, 54%);
}

.light-theme::-webkit-scrollbar-thumb:hover{
  background-color: 0 2px 8px hsla(var(--final-hue), 8%, 44%);
}

.light-theme .contact-card-title{
  color: var(--title-color);
}

.light-theme .contact-form-tag{
  color: var(--title-color);
}

.light-theme .contact-button{
  color: var(--title-color);
  font-weight: var(--font-medium);
}

.light-theme .contact-form-shadow{
  background-color:var(--third-button-color) ;
}

.light-theme .animate-button{
  background-color: black;
}

.light-theme .contact-form-entry{
  background-color: white;
}

/* STYLING FOR DIFFERENT SCREEN SIZES */
/* SMALL DEVICES */
@media screen and (width: 280){
  
}
@media screen and (min-width: 280px){
  .nav-logo{
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    column-gap: .5rem;
  }
  .nav-logo-icon{
    height: 24px;
    width: 25px;
  }
  .nav-logo-tag{
    font-size: 1rem;
  }
    .nav-logo{
      display: flex;
      justify-content: center;
      flex-wrap: nowrap;
      column-gap: .5rem;
    }
    .nav-logo-icon{
      height: 24px;
      width: 25px;
    }
    .nav-logo-tag{
      font-size: 1rem;
    }
  .nav-menu{
    padding: 1rem 1.5rem;
  }

  .home-buttons{
    flex-direction: column;
  }
  .home-handle{
    width: 150px;
    height: 253px;
  }

  .home-img{
    width: 130px;
  }

  .about-info{
    grid-template-columns: repeat(2, 1fr);
  }

  .skills-box{
    column-gap: 1rem;
  }

  .skills-name{
    font-size: var(--small-font-size);
  }
  .services-container{
    grid-template-columns: 145px;
    justify-content: center;
  }

  .work-item{
    font-size: var(--small-font-size);
  }

  .work-filters{
    column-gap: .25rem;
  }

  .contact{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .work-word{
    display: block;
  }
  .work-img{
    width: 220px;
  }
}


/* MEDIUM DEVICES */
@media screen and (min-width: 400px){
  .contact-content{
    display: block;
  }
}
@media screen and (min-width: 481px){
  .animate-button{
    background-color: var(--third-button-color);
    width: 42%;
 }

 .contact-form-submit:hover .contact-form-submit:active {
  transform: translate(-6px, -6px);
}

.nav-logo{
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: .5rem;
}

.nav-logo-icon{
  height: 30px;
  width: 30px;
}
.nav-logo-tag{
  font-size: 1.2rem;
}
.work-img{
  width: 240px;
}
  .nav-menu{
    width: 328px;
    left: 0;
    right: 0;
    margin: 0 auto;
  }

  .about-info{
    grid-template-columns: repeat(3, 140px);
    justify-content: center;
  }

  .about-info{
    padding: 0 5rem;
  }

  .skills-container{
    justify-content: center;
  }

  .skills-content{
    padding: 2rem 4rem;
  }

  .services-container{
    grid-template-columns: repeat(2, 160px);
  }

  .services-mod-content{
    width: 500px;
    padding: 4.5rem 2.5rem 2.5rem;
  }

  .services-mod-inf{
    padding: 0 3.5rem;
  }

  .work-container{
    justify-content: center;
  }

  .work-img{
    width: 259px;
  }

  .contact-info{
    grid-template-columns: 300px;
    justify-content: center;
  }

  .contact-form{
    width: 360px;
    margin: 0 auto;
  }
}


/* LARGE DEVICES */
@media screen and (min-width: 760px){
  .work-card {
    background-color: var(--container-color);
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.work-img{
  border-radius: 1rem;
  /* margin-bottom: .75rem; */
  width: 80%;
}
  .work-container{
    grid-template-columns: repeat(2, max-content);
  }

  .contact-container{
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    column-gap: 3rem;
  }
  .container{
    margin-left: auto;
    margin-right: auto;
  }

  .section{
    padding: 6.5rem 0 1rem;
  }

  .section-title{
    margin-bottom: 3.5rem;
  }

  .nav{
    height: calc(var(--header-height));
  }

  .nav-logo{
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    column-gap: .50rem;
  }

  .nav-logo:hover{
    transform: scale(1.1);
    transition: .4s ease-out;
  }

  .nav-logo-icon{
    height: 35px;
    width: 30px;
  }

  .nav-logo-tag{
    font-size: 1.2rem;
  }
  .home-handle{
    width: 290px;
    height: 400px;
  }

  .home-img{
    width: 220px;
  }
  .home-social-link{
    padding: .4rem;
    font-size: 1.25rem;
  }
  .home-social::after{
    transform: rotate(90deg) translate(16px, 0);
  }
  .home-scroll-icons{
    font-size: 2rem;
  }

  .about-container{
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    column-gap: 4rem;
  }
  .about-image{
    width: 350px;
  }
  .about-content{
    text-align: left;
 }
  .about-info{
    justify-content: initial;
    margin: auto;
    margin-bottom: 1rem;
 }

  .about-box{
    text-align: left;
    padding: 1rem 1.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center; 
    column-gap: .75rem;
    }
  .about-description{
    padding: 0 4rem 0 0;
    margin-bottom: 2.5rem;
  }

  .skills-container{
    grid-template-columns: repeat(2, 350px);
    column-gap: 3rem;
  }

  .services-container{
    grid-template-columns: repeat(3, 192px);
    justify-content: center;
    column-gap: 3rem;
  }
  .services-card{
    padding: 5rem 2rem 1.5rem;
  }

  .services-card:nth-child(3){
    padding: auto;
    justify-content: center;
    align-items: center;
  }

  .work-container{
    gap: 3rem;
  }
   .work-card{
    padding: 1.25rem;
   }
   .work-img{
    margin-bottom: 1rem;
   }
   .work-title{
    margin-bottom: 1rem;
   }
   .testimonial-container{
    width: 750px;
   }
   .testimonial-card{
    padding: 1.5rem 2rem ;
   }
   .contact-container{
    column-gap: 6rem;
   }
   .footer-social{
    font-size: 1.25rem;
    padding: .4rem;
    border-radius: .25rem;
   }
    
  .home-buttons{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
  }
 
  .contact{
    display: block;
    /* justify-content: center; */
    align-items: center;
  }

  .contact-title{
    display: none;
  }

  .section-subtitle{
    font-size: 1.2rem;
  }

  .about-info{
    column-gap: 2rem;
    margin-bottom: 1rem;
  }
  .section-title{
    margin-bottom: auto;
  }

  .services-mod-item{
    margin-left: 10px;
  }
  .services-card{
    padding-top: 25px;
  }
 
}

@media screen and (min-width: 1000px){
  
  .container{
  max-width: 1500px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.nav-logo{
  padding: 10px;
}
.testimonial-container{
  margin-left: auto;
  margin-right: auto;
}

}